.app {
     /* Add app styles here */
}

.icon-portfolioitem {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-portfolioitem:before {
  content: '\e024';
}
